.reabilityMuiButton {
  display: block !important; /* Ensure block display */
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75;
  color: #fff;
  background-color: #1976d2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 10px; /* Add margin-bottom for spacing */
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
